body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;

  background-image: url("bg.svg");
  background-color: rgb(9, 114, 156);
}
a {
  text-decoration: none;
}
.game {
  z-index: 1;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game-display .box {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 15px;
  background-color: goldenrod;
  cursor: pointer;
}
.game-display .box:hover {
  background-color: rgb(240, 205, 10);
}
.game-display .box img {
  width: 150px;
  display: inline-block;
  transform: rotateY(180deg);
}
#status {
  margin: 0;
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.685);
  height: 30px;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 2px 3px 2px black;
  color: rgb(0, 255, 55);
  font-weight: bolder;
}
.animate {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.animate-back {
  transform: rotateY(360deg);
  transition: transform 0.6s;
}
#tag {
  position: absolute;
  top: 0;
  left: 0;
}
.diffpanel {
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.diffpanel h1 {
  color: white;
  font-size: 30px;
}
.diff-btn {
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
  padding: 15px;
  border: none;
}
.diff-btn:nth-child(2) {
  background-color: rgb(212, 212, 30);
}
.diff-btn:nth-child(3) {
  background-color: rgb(202, 34, 34);
  color: white;
}
@media screen and (max-width: 900px) {
  .game-display .box {
    width: 70px;
    height: 70px;
    margin: 15px;
    background-color: goldenrod;
    cursor: pointer;
  }
  .game-display .box img {
    width: 70px;
    display: inline-block;
  }
  #status {
    font-size: 20px;
  }
}
